html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
}

a {
  color:white;
}

.cover  {
  height:100vh;
  width:100%;
}

.glass {
  height:100%;
  position: absolute;
  width: 100%;
  top: 0;
}

.flex-form > *:not([type="date"]) {
  border-top:1px solid white;
  border-bottom:1px solid white;
}


.flex-form input[type="submit"] {
  background:#181635;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  color:white;
}

.flex-form > * {
  border:0;
  padding:10px;
  background:white;
  line-height:50px;
  font-size: 20px;
  border-radius:0;
  outline:0;
  border-right:1px solid rgba(0,0,0,0.2);
  -webkit-appearance:none;
}

.flex-form > *:last-child {
  border-right: 0;
}


.cover {
  display:flex;
  justify-content:center;
  align-items:center;
}

.flex-form {
  z-index: 10;
  border:20px solid rgba(37, 101, 245, 0.02);
  border-radius:5px;
  display:flex;
}

input[type="search"] {
  flex-basis:500px;
}